practica3/src/main/mule/practica3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<!-- Configuration Database_connect_Oracle -->
	<db:config name="Database_Config" doc:name="Database Config" >
		<db:oracle-connection host="localhost" user="HR" password="hrsaif" instance="xe" />
	</db:config>
	
	<!-- Configuration http_lisener -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" basePath="api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<!-- Flow  -->
	<flow name="practica3Flow" >
		<http:listener doc:name="Listener"  path="webhook" allowedMethods="POST" config-ref="HTTP_Listener_config">
		<http:response statusCode="200" reasonPhrase="Ok">
				<http:body >"Usuario Agregado"</http:body>
			</http:response>
		</http:listener>
		
		<logger level="INFO" doc:name="Logger" message="#[payload]" />
		
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
employee_id: payload.employee.employee_id,
first_name: payload.employee.first_name ,
last_name: payload.employee.last_name,
email: payload.employee.email,
hire_date: payload.employee.hire_date,
job_id: payload.employee.job_id,
salary: payload.employee.salary
}
					]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Logger" message="Insertando empleado: #[payload]" />
		
		<db:insert doc:name="Insert" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO HR.employees (EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, HIRE_DATE, JOB_ID, SALARY)
VALUES (:employee_id, :first_name, :last_name, :email, TO_DATE(:hire_date, 'YYYY-MM-DD"T"HH24:MI:SS'), :job_id, :salary)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
employee_id: payload.employee_id,
first_name: payload.first_name,
last_name: payload.last_name,
email: payload.email,
hire_date: payload.hire_date,
job_id: payload.job_id,
salary: payload.salary
}]]]></db:input-parameters>
		</db:insert>
		
		<logger level="INFO" doc:name="Logger"  message="Se insertaron los datos correctamente"/>
		
	</flow>
</mule>
