practica1/src/main/mule/practica1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<!-- Configuration Database_connect_Oracle -->
	<db:config name="Database_Config1" doc:name="Database Config" >
		<db:oracle-connection host="localhost" user="car" password="car" instance="xe" />
	</db:config>
	
	<!-- Configuration http_lisener -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="59578ba8-6e14-4ce3-9b62-bd985b2d07b2" basePath="pract1" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	
	<!-- Flow Select -->
	<flow name="practica1Flow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="select" allowedMethods="GET">
			<http:response statusCode="200" reasonPhrase="Ok">
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		
		<db:select doc:name="SelectUsuario"  config-ref="Database_Config1">
			<db:sql ><![CDATA[SELECT * FROM USUARIOS ]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" message="#[payload]"/>
	</flow>
	
	<!-- Flow Insert -->
	<flow name="practica1Flow1">
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="insert" allowedMethods="POST">
			<http:response statusCode="200" reasonPhrase="Ok">
				<http:body >"Usuario Agregado"</http:body>
			</http:response>
		</http:listener>
		<db:insert doc:name="InsertUsuario"  config-ref="Database_Config1">
			<db:sql ><![CDATA[INSERT INTO USUARIOS(CVE_USUARIO, NOMBRE_USUARIO, AP_PATERNO, AP_MATERNO, EMAIL_USUARIO,
    PASSWORD) VALUES (:cve_usuario, :nombre_usuario, :ap_paterno, :ap_materno, :email_usuario, :password)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'cve_usuario' : payload.CVE_USUARIO,
	'nombre_usuario' : payload.NOMBRE_USUARIO,
	'ap_paterno' : payload.AP_PATERNO,
	'ap_materno' : payload.AP_MATERNO,
	'email_usuario' : payload.EMAIL_USUARIO, 
	'password' : payload.PASSWORD}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger"  message="usuario insertado"/>
	</flow>
	
	<!-- Flow Delete -->
	<flow name="practica1Flow2" >
		<http:listener doc:name="Listener"  config-ref="HTTP_Listener_config" path="delete" allowedMethods="POST">
			<http:response statusCode="200" reasonPhrase="Ok">
				<http:body ><![CDATA["Usuario Eliminado"]]></http:body>
				</http:response>
		</http:listener>
		<db:delete doc:name="DeleteUsuario" config-ref="Database_Config1">
			<db:sql ><![CDATA[DELETE FROM USUARIOS WHERE CVE_USUARIO = :cve_usuario]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'cve_usuario' : payload.CVE_USUARIO	
}]]]></db:input-parameters>
		</db:delete>
	</flow>
	
	
</mule>
